body {
  height: 100%;
  display: block;
  margin: 0;
}
header {
  background-color: #005bab;
}
#logo {
  display: block;
  float: left;
}

nav {
  margin: 0 auto;
  width: 60%;
}

li {
  list-style: none;
  padding: 1em 0;
  text-align: center;
  display: inline;
}
.nav-bar {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1em;
}

.nav-bar:hover {
  text-decoration: underline;
}
