body {
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: #005bab;
}
header img {
  display: block;
  float: left;
  height: 3em;
  background-color: white;
}
nav {
  width: 60%;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 1em 0;
  text-align: center;
}
nav li {
  display: inline;
  margin: 2%;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
header a:hover {
  text-decoration: underline;
}
form ul {
  list-style: none;
  padding: 0;
}

form li {
  margin: 5px 0;
}

form label {
  display: inline-block;
  width: 150px;
  text-align: right;
}
h1 {
  padding: 4em 1em;
  color: white;
  background-size: cover;
  margin-top: 0;
}

.trainingCourses {
  background-image: url("images/trainingCourses.jpg");
}
.team {
  background-image: url("images/theTeam.jpg");
}
.keyboard {
  background-image: url("images/keyboard.jpg");
}
.trainer {
  background-image: url("images/trainer.jpg");
}
